.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: .1px solid #fcf8f8;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        font-size: 14px;
    }
}